@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

#heading {
    width: 100%;
    font-family: "Honk", system-ui;
    font-size: 50px;
}

.wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}

.container {
    margin: auto auto auto auto;
    width: 500px;
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    background-color: transparent;
    height: 700px;
    color: white;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
    font-size: 20px;
}

#hint {
    /* display: flex; */
    height: 50px;
    /* margin-left: 90px; */
    /* margin-top: 10px; */
    align-items: center;

    gap: 10px;
    border: none;
    color: white;
    font-size: 20px;
    background: transparent;
    display: inline-flex;
    direction: ltr;
    position: relative;
}

.hint-txt:after,
.hint-txt::after {
    position: absolute;
    top: 90%;
    right: 10%;
    margin-left: -50%;
    content: '';
    width: 0;
    height: 0;
    border-top: solid 15px #3a4452;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
    transform-origin: top center;
}

.hint-txt {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    color: white;
    background-color: #3a4452;
    top: -70%;
    text-align: left;
    border-radius: 7px;
    padding: 5px 10px;
    width: max-content;
    max-width: inherit;
    right: 0;
    transition: opacity 0.5s ease;
    font-size: 15px;
}
li{
    list-style-type: none;
}
#hint-img:hover+.hint-txt {
    visibility: visible;
    opacity: 1;
}

.box1 {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    display: flex;
    font-size: 20px;
    background-color: transparent;
    /* border: 1px solid white; */
    padding: 20px;
    align-items: center;
}

.box2 {
    display: flex;
    flex-direction: column;
    /* align-items: baseline; */
    cursor: pointer;
    /* margin-left: 240px; */
    width: 7%;
    /* position: absolute;  */
    position: relative;
    display: flex;
    justify-content: center;
}

#PrevGuess {
    margin-top: px;
}

#hintRem {
    margin-top: 5px;
    font-size: 20px;
}

#hint img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#PrevGuessDisplay,
#RemGuessDisplay {
    font-size: 15px;
    font-family: "Quicksand", sans-serif;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.images {
    /* display: flex; */
    width: 480px;
    height: 300px;
    padding: 10px;
    /* position: relative; */
}

.images img {
    object-fit: contain;
}

.img-txt {
    font-family: "Honk", system-ui;
    color: white;
    font-size: 30px;
    margin-top: -60px;
    -webkit-text-stroke: 1px #0a0a0a;
    /* font-family: "Bebas Neue", sans-serif; */
    /* text-shadow: 0 0 10px black; */
}

.text {
    width: 350px;
    text-align: center;
    margin: 10px auto;
    /* margin-left: auto;
    margin-right: auto;
    margin; */
}

input,
#SubmitBtn {
    height: 50px;
    font-size: 20px;
    /* margin: 10px; */
    border: 1px solid white;
    background: transparent;
    color: white;
}

input {
    padding: 10px;
}

#GuessField {
    width: 400px;
    /* margin-bottom: 10px; */
}

#SubmitBtn {
    width: 200px;
    cursor: pointer;
    border-radius: 16px;
    background-color: #7a7979;
    display: inline-block;
    font-family: "Honk", system-ui;
    font-size: 30px;
    border: none;
    box-shadow: -3px 3px 3px rgba(113, 115, 119, 0.5);
}

@media screen and (max-width: 555px) {
    .container{
        width: 90%;
    }
    .images{
        width: 100%;
    }
    #GuessField{
        width: 90%;
    }
    #SubmitBtn{
        height: 40px;
    }
    #hintRem{
        font-size: 15px;
    }
    .hint-txt{
        top: -100%;
        right: -35%;
    }
  }